.box{
    border: 1px solid black;
    height:200px;
    width: 150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to bottom right,red,blue);
    background-image: linear-gradient(to top left ,blue,green,red);
    background-image: linear-gradient(45deg,red,blue);
    margin: 10px;

}
.box1{
    height: 200px;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
    background-image: radial-gradient(circle,red,green,blue);
    background-image: radial-gradient(circle,red 5%,green 10%,blue 50%);


}
