.container{
    
    height: 700px;
    width: 506px;
    border: 1px solid black;
    background-color: brown;
    
    display: grid;
    

    grid-template-areas: "hd" "side""main" "ft";
    text-align: center;
    gap:4px;
    grid-template-rows: 30px 1fr 1fr 30px;
    grid-template-columns: 506px;
    /* justify-content: center;
    justify-content: end;
    justify-content: flex-start; */
    align-content: center;
    align-items: end;
    align-items: stretch;
    

}
.box{
    background-color: aqua;
    border: 1px solid green;
    width: 100%;
}

#header{
    grid-area: hd;
}
#footer{
    grid-area: ft;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}
