*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: brown;
    height: 700px;
    border: 3px solid black;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    /* repeat(3,1fr); */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 3px;
}
.box{
    background-color: aqua;
    border: 3px solid black;
    /* width: 80px; */
    /* height: 80px; */
}
#box1{
    /* grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3; */

    grid-area: 1/1/4/3;
}
/* #box2{
    grid-row-start:2;
    grid-row-end: 4;
}
#box3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
#box4{
    grid-column-start:1 ;
    grid-column-end: 4;
} */