.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 1px solid red;
    display: flex;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;
    /* transition-property: all; */
    /* transition-delay: 5s; */

    /* transition: transform 1s ease 3s; */
    transition: transform 3s ease;
}

.box:hover{
    background-color: brown;

    /* transition: 1s; */
    /* transform: rotate(45deg); */
    transform: scale(2)translateX(50px) rotate(90deg);
}
