.container{
    width: 100%;
    height: 500px;
    background-color: yellow;
    border: 2px solid red;
}

.box{
    height: 200px;
    width: 200px;
    border: 1px solid green;
    background-color: green;

    animation-name: somu;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-timing-function: ease;
    animation-delay: 1s;
    /* animation-direction: normal; */


    
}

@keyframes somu{
    from{
        width: 200px;

    }
    to{
        width: 500px;
    }
}