*{
    box-sizing: border-box;
    /* align-items: flex-start; */
    
}

.container{
    height: 400px;
    border: 1px solid green;
    display: flex;
    
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    /* flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* align-items: flex-start;
    align-items: center;
    align-items: stretch;
    align-items: baseline; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
    /* align-content: flex-start;
    align-content: flex-end; */
    /* align-content: center;    */
    /* align-content: space-around;
    align-content: space-between;
    align-content: space-evenly; */

    
}
.box{
    border: 1px solid black;
    width: 150px;
    background-color: aqua;
    /* flex-grow: 1; */
    /* flex-shrink: 4;  */
    /* shirinkig speed */
    flex-basis: 50%;
}
#box1{
    order: 2;
    /* flex-grow: 1; */
}

#box3{
    order: 8;
    /* align-self: flex-end; */
}

#box2{
    order: 4;
}
#box4{
    order:3;
    /* align-self: stretch;
    flex-basis: 100px; */
}
