/* p{
    position: static;
} */

div{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 1px solid black;
}


#box3{
    position: absolute;
    left: 30px;
    top: 100px;
}
/* #box1{
    position: fixed;
} */
.wrapper{
    height: 1000px;
    width: 100vw;
    background-color: yellow;
}