.okok:hover{
    color: black;

}
#ok:hover{
    color: red;

}
.box{
    height:200px;
    width: 300px;
    border: 1px solid black;
    background-color: orange;
    padding: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}
#org{
    background-color: orange;
}
#wht{
    background-color: white;
}
#grn{
    background-color: green;
}