*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}
.logo{
    width: 80px;
}
.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.nav-item{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-item div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}
.nav-item div:hover{
    font-weight:bold ;
    transition: all 1s;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    font-size: 7rem;
    color: rgb(231, 231, 231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
    left: 10%;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}


.hero-section-heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}
.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;

}
.btn{
   background-color: red;
   width: fit-content;
   color: white;
   padding: 0.8rem 2.3rem;
   box-shadow: 5px 5px 7px 0px #0000003f;
   font-size: 18px;
   cursor: pointer;
   transition: all 0.5s;
   font-weight: 500;
   border: solid 3px transparent;
   position: relative;
   z-index: 1 ;
    
    

}
/* before pseudo element  */
.btn::before{
    content:"";
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: black;
    z-index: -1;
    
    transform: scaleX(0);
    
    
    transform-origin: left ;
    transition: all 0.8s;
    
    
}

.btn:hover::before{
    transform: scaleX(1);
    
}
.btn:hover{
    border: solid 3px red;
    color: black;
}

.hero-section-right{
    position: relative;
}
.absolute{
    position: absolute;
    
}
.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all;
    animation: scaleimage 5s linear infinite;
}

.user-image img{
    z-index: -9;
}

@keyframes scaleimage {
    0%{
        filter: grayscale(1);
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
}
.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dots-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dots-animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.icon-cube{
    z-index: 9;
    top: -0.8rem;
    right: 1rem;
    animation-name: cube;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes cube {
    0%{
        transform: rotateY(0deg) translateY(0);
    }
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
        transform: rotateY(0deg) translateY(0);
    }
    
}

.icon-circle{
    z-index: 9;
    left: 0;
    bottom: 0;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes shake {
    0%{
        transform: translate(0px,0px);
    }   
    50%{
        transform: translate(1rem,-1rem);
    }
    100%{
        transform: translate(0px,0px);
    }
}

.icon-zigzag{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation-name: zigzag;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;


}
@keyframes zigzag {
    0%{
        transform: translate(0px,0px);
    }   
    50%{
        transform: translate(1rem,-1rem);
    }
    100%{
        transform: translate(0px,0px);
    }
    
}

.icon-plus{
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation: shake 5s ease-in infinite;
}
.project-section{
    background-color: rgb(231, 231,231);
    margin-top: 4rem;
}
.page-header{
    color: red;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;

}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;

}
.project-card{
    width: 90%;
    height: 550px;
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    transition: 2s;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    transform: scaleX(1);
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(45deg,#343d68,#343d68de,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    display: none;
   
    
}
.project-card:hover .project-number{
    display: block;
}
.project-number-left{
    right: -40px;
    top: -45px;
}

.project-number-right{
    left: -40px;
    top: -45px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-right{
    right: 10%;
}

.project-content-left{
    left: 10%;
}

.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;


}
.project-skills{
    width: 40px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;

}
.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover{
    color: red;
}

.project-card:hover .project-content{
    transform: scale(1.1);

}
#project1{
    background-image: url(./images/projects/Project1.png);
}

#project2{
    margin-left: 120px;
    background-image: url(./images/projects/Project2.png);
}

#project3{

    background-image: url(./images/projects/Project3.png);
}

#project4{
    margin-left: 120px;
    background-image: url(./images/projects/Project4.png);
}

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    position: relative;
    gap: 2rem;
}

.skill-fade-text{
    position: absolute;
    font-size: 15em;
    font-style: bold;
    bottom: -38.7%;
    right: -10%;
    user-select: none;
    color:rgb(231,231,231);
}

.blob-style{
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: -5;
    animation: blob 3s linear infinite;
}
@keyframes blob {
    50%{
        transform: translate(20px,-20px);
    }
    
}

.skills-logo{
    width: 70px;
    transition: all 0.5s;
}

.skills-logo:hover{
    transform: scale(1.2);
}

.skill-heading{
    font-size: 50px;
    font-style: bold;
    color: red;
    line-height: 50px;
}
.caps{
    font-size: 90px;

}

.skill-subheading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.contact-form-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contactus-heading{
    font-size: 5em;
    color: red;
    padding-top:2rem;

}
.contactus-subheading{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}
.contactus-form-container{
    margin-top:25px ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    align-items: center;
    justify-content: center;
}
.formfield-container{
    width: 100%;
}
.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #1f1f1f;
    font-weight: 500;
    border: none;
    margin: 17px;
}

.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}

#submit-btn{
    margin-left: -585px;
    transition: 2s;
}
#submit-btn:hover{
    transform: scale(0.9);
}

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;

}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-fade-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

.link-wrapper{
    position: relative;
    left: 120px;
    display: flex;
    gap: 1.2rem;
    
}
.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 1s;
}
.link-wrapper div a:hover{
    color: red;
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}